<%- include('templates/head.ejs', {TituloPrincipal:'Equipos Registrados'}) %>
<body>
    <%- include('templates/nav') %>
    <h1> <%= title %> </h1>
    <a href="/equipos/agregar"> <h3>Añadir un Equipo</h3> </a>
    <%- include('templates/listar/equipoGet') %>
</body>
</html>