<%- include('templates/head', {TituloPrincipal:'Agregar Espacios'}) %>
<body>
    <%- include('templates/nav') %>
    <div class="tituloLogin">
        <h2><%= title %></h2>
    </div>
    <div class="containerLogin">
        <form action="/espacios/agregar" method="post">
      
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" placeholder="Ingresa nombre del espacio..." class="text1">
      
          <label for="direccion">Dirección</label>
          <input type="text" name="direccion" placeholder="Ingresa dirección del espacio..." class="text1">

          <label for="descripcion">Descripcion</label>
          <input type="text" name="descripcion" placeholder="Ingresa descripción del espacio..." class="text1">
      
          <label for="estatus">Estatus</label>
          <select name="estatus"  class="text1" required>
            <option value="Ocupado">OCUPADO</option>
            <option value="Disponible" selected>DISPONIBLE</option>
            <option value="Mantenimiento">MANTENIMIENTO</option>
          </select>
      
          <input type="submit" value="¡Añadir!" class="buttonLogin2">
      
        </form>
    </div>
</body>
</html>