<%- include('templates/head.ejs', {TituloPrincipal:'Espacios Registrados'}) %>
<body>
    <%- include('templates/nav') %>
    <h1 class="centrado"> <%= title %> </h1>
    <a href="/equipos/agregar"> <button><h3>Añadir un Equipo</h3></button> </a>
    <div class="row">
        <%- include('templates/listar/equipoGet') %>
    </div>
</body>
</html>