<%- include('templates/head.ejs', {TituloPrincipal:'Pagina de Inicio'}) %>
  <body>
    <%- include('templates/nav') %>

    <div class="tituloPrincipal">
      <h1 class="centrado"> <%= title %> </h1>
    </div>

    <div class="tituloSub">
      <p>Bienvenido a la Sala de Audiovisuales</p>
      <p>Podrás hacer tus reservas y disfrutar de los servicios Audiovisuales</p>
    </div>

    <div class="tituloPrincipal">
      <h2>Inicia Sesión</h2>
    </div>
    
    <div>
      <a href="/login"> <button class="buttonAgregar">¡LOG IN!</button> </a>
    </div>
  </body>
</html>
