<%- include('templates/head.ejs', {TituloPrincipal:'Pagina de Inicio'}) %>
  <body>
    <%- include('templates/nav') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Estaremos añadiendo tus reservas ante los servicios que te ofrecemos ;3</p>
    <h2>Inicia Sesión</h2>
    <div>
      <h3> <a href="/login"> <button>LOG IN</button> </a> </h3>
    </div>
  </body>
</html>
