<%- include('templates/head.ejs', {TituloPrincipal:'Pagina de Inicio'}) %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Estaremos añadiendo tus reservas ante los servicios que te ofrecemos ;3</p>

  </body>
</html>
