<header>
    <nav>
        <div class="topnav">
            <a class="active" href="/">Inicio</a>
            <a href="/equipos">Equipos</a>
            <a href="/espacios">Espacios</a>
            <a href="/">About Us</a>
        </div>
    </nav>
</header>