<header>
    <nav>
        <ul>
            <li> <a href="/">Inicio</a> </li>
            <li> <a href="/equipos">Equipos</a> </li>
            <li> <a href="">Personal</a> </li>
            <li> <a href="/">Tu Cuenta</a> </li>
        </ul>
    </nav>
</header>